In [ ]:
M.Sharal priya

In [23]:
print("21UAI078")

21UAI078

In [ ]:
Write a function called show_stars(rows). If rows are 5, it should print the following:

In [22]:
n=int(input("enter the no of rows"));
def row(n):
     for i in range(0 , n):
            for j in range(0,i+1):
                 print("* ",end=" ")                    
            print(" ")
row(n)

enter the no of rows2
*
*  *

In [2]:
Write a program to remove characters from a string starting from zero up to n and return a new string

SyntaxError: invalid syntax (<ipython-input-2-d2f5194bbfb8>, line 1)

In [3]:

test_str = "GeeksForGeeks"
print ("The original string is : " + test_str)
new_str = test_str[:0] + test_str[3:]
print ("The string after removal of i'th character : " + new_str)

The original string is : GeeksForGeeks
The string after removal of i'th character : ksForGeeks

In [ ]:
Iterate the given list of numbers and print only those numbers which are divisible by 5

In [8]:
print(list(filter(lambda n:n%5==0, [1,5,109,20])))

[5, 20]

In [19]:
#import string
print("foo bar foo".count("foo"))

2

In [ ]:
print the following pattern
1
22
333
4444
55555

In [26]:
n=int(input("enter the value of n:"))
def ptrn(n):
     for i in range(1,n+1):
        for j in range(1,i+1):
               print(" ",i,end=" ")
        print(" ")
ptrn(n)

enter the value of n:5
  1
  2   2
  3   3   3
  4   4   4   4
  5   5   5   5   5